<div class="heading">
  <h1>Submit your passcode</h1>
</div>
<div class="form-container">
  <%= form_with url: session_path, method: "post", class: "passcode-form" do |form| %>
    <%= form.label :passcode %>
    <%= form.text_field :passcode %>
    <%= form.submit %>
  <% end %>
</div>
<%= image_tag "sticker-png-kirby-inhale3.png", class: "kirby-passcode"%>
