<h2>here are threads:</h2>
<li>
  <% @topics.each do | topic | %>
    <ul>
      <div class="thread-meta"><%= link_to topic.id, board_topic_url(@board.name, topic) %></div>
      <div class="thread-first-post">
        <% first_post_id = nil %>
        <% Post.where(topic_id: topic.id).order(:created_at).limit(1).each do |post| %>
          <% first_post_id = post.id %>
          <div class="post" id="post-id-<%="#{post.id}"%>">
            <p class="post-metadata">Posted at: <%= post.created_at %></p>
            <p class="post-title"><%= post.name %></p>
            <p class="post-text"><%= post.text %></p>
          </div>
        <% end %>
      </div>
      <div class="thread-last-posts">
        <% Post.where(topic_id: topic.id).order(id: :desc).limit(3).reverse.each do |post| %>
          <%# next if post.id = first_post_id %>
          <div class="post" id="post-id-<%="#{post.id}"%>">
            <p class="post-metadata">Posted at: <%= post.created_at %></p>
            <p class="post-title"><%= post.name %></p>
            <p class="post-text"><%= post.text %></p>
          </div>
        <% end %>
      </div>
    </ul>
  <% end %>
</li>