<h1>Topics#new</h1>
<p>Find me in app/views/topics/new.html.erb</p>
<%= turbo_frame_tag "new-topic-form" do %>
  <%= form_with model: @topic, url: board_topics_url do |form| %>
    <%= form.fields_for :post_attributes do |form| %>
      <%= form.label :pseudonim %><br>
      <%= form.text_area :pseudonim, value: "Anonymous", disabled: true %>
      <br>
      <%= form.label :name %><br>
      <%= form.text_area :name %>
      <br>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
      <br>
      <div class="format-panel">
        <ul>
          <li>Bold</li>
          |
          <li>Italic</li>
          |
          <li>Underline</li>
          |
          <li>Strikenthrough</li>
        </ul>
      </div>
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
      <br>

      <%# form.label :captcha %><br>
      <%# form.text_area :captcha %>
      <br>
    <% end %>
    <%= form.submit %>
  <% end %>
<% end %>

