<div class="heading">
  <h1>New Topic</h1>
</div>
<%= turbo_frame_tag "new-topic-form" do %>
  <%#! turn on turbo later, please  %>
  <%= form_with model: @topic, url: board_topics_url, data: { turbo: false } do |form| %>
    <%= form.fields_for :post_attributes do |form| %>
      <%= form.label :pseudonim %>
      <%= form.text_field :pseudonim, value: "Anonymous", disabled: true %>
      <%= form.label :name %>
      <%= form.text_field :name %>

      <%= form.label :text %>
      <%= form.text_area :text %>

      <div class="format-panel">
        <ul>
          <li class="bold">Bold</li>
          |
          <li class="italic">Italic</li>
          |
          <li class="underline">Underline</li>
          |
          <li class="strikethrough">Strikenthrough</li>
        </ul>
      </div>
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>


      <%# form.label :captcha %>
      <%# form.text_area :captcha %>

    <% end %>
    <%= form.submit %>
  <% end %>
<% end %>

