<h1>Topics#new</h1>
<p>Find me in app/views/topics/new.html.erb</p>

<%= form_with model: @topic, url: board_topics_url do |form| %>
  <%= form.fields_for :post_attributes do |form| %>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
    <br>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
    <br>
    <%= form.label :pic_link %><br>
    <%= form.text_area :pic_link %>
    <br>
  <% end %>
    <%= form.submit %>
  </div>
<% end %>