<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>
<%= tag.div class: "topic-body", data: { controller: "reply" } do %>
  <%= render "shared/lightbox" %>

  <% if current_user&.moderator_role? || current_user&.admin_role? %>
    <%= render partial: "shared/topic_admin_panel", locals: { board: @board, topic: @topic } %>
  <% end %>
  <%= tag.div class: "post-list", data: { controller: "lightbox", action: "click->lightbox#showPic" } do %>
    <%= render partial: "shared/post", collection: @topic.posts.includes(:images_attachments, replies: { posts: {topic: :board}}).order(:created_at), locals: { board: @board, topic: @topic }, cached: true %>
  <% end %>
  <%# using @topic.posts.with_attached_images here (instead of defining @posts separately) allows this view to use cache without asking for every image and variant %>
  <%# previously, it would ask db for all images instead of just verifying whether @topic has been changed %>
  <%# however, it would break the decorator in the controller... %>

  <%= render "shared/new_post_form" %>
<% end %>
