<h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p>

<% @posts.each do |post| %>
  <div class="post">
    <p class="post_title"><%= post.name %></p>
    <p class="post_text"><%= post.text %></p>
  </div>
<% end %>

<h2>New post:</h2>
<%= form_with model: @post, url: board_topic_posts_url(topic_id: @topic.id) do |form| %>
  <%= form.label :name %><br>
  <%= form.text_area :name %>
  <br>
  <%= form.label :text %><br>
  <%= form.text_area :text %>
  <br>
  <%= form.label :pic_link %><br>
  <%= form.text_area :pic_link %>
  <br>
  <%= form.submit %>
</div>
<% end %>