<div id="new-post-form-container">
  <div class="new-post-form-header">
    <h2>New post:</h2>
    <%= tag.span "X", class: "form-close-button", data: { action: "click->reply#closeForm"} %>
  </div>

  <div class="new-post-form-body">
    <%# ! in order to make anchor links work, turbo had to be disabled for this form. %>
    <%# ! but disabling turbo broke refreshing the form after invalid submissions... %>
    <%= form_with model: Post.new, url: board_topic_posts_url(topic_id: @topic.id), id: "new-post-form" do |form| %>
      <%= form.label :name %><br>
      <%= form.text_area :name %>
      <br>
      <%= form.label :text %><br>
      <%= form.text_area :text, data: { reply_target: "formTextField" } %>
      <br>
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
      <br>
      <%= form.submit %>
    <% end %>
  </div>
</div>

<style>
  .new-post-form-container-active {
    position: sticky;
    bottom: 0;
  }
</style>