<div class="post-first-line">
  <div class="post-metadata">
    <%= link_to "№#{post.id}", board_topic_path(board.name, topic, anchor: "post-id-#{post.id}"), class: "post-metadata-post-id" %>
    in
    <%= link_to "##{topic.id}", board_topic_path(board.name, topic), class: "post-metadata-topic-id" %>
    |
    <span class="iteration"><%= "#{iteration + 1}" %></span>
    |
    <span class="time">Posted at: <%= post.created_at %></span>
    |
    <%= tag.button "Reply",
                          class: "reply-to-post",
                          data: {
                          action: "click->form#callToFixed click->form#reply",
                          form_id_param: post.id
                          }  %>
    <%= link_to "Go to", board_topic_path(board.name,
                                          topic,
                                          anchor: "post-id-#{post.id}"), class: "go-to-post"%>
    <%= link_to "Go to Topic", board_topic_path(board.name, topic), class: "go-to-topic" %>
  </div>
  <%# render partial: "shared/post_admin_panel", locals: { board: board, topic: topic, post: post } %>
  <h4 class="post-title"><%= sanitize(post.name, tags: [], attributes: []) %></h4>
</div>
