<h2>Get a passcode now!</h2>

<%= form_with url: passcode_path, method: "post" do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <br>
  <%= form.label :i_paid, "I have paid for a passcode (no)" %>
  <%= form.check_box :i_paid, {}, "true", "false" %>
  <br>
  <%= form.submit %>
<% end %>