<div class="heading">
  <h1>Get a passcode now!</h1>
</div>

<div class="form-container">
  <%= form_with url: passcode_path, method: "post", class: "passcode-form" do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <div class="checkbox-container">
      <%= form.label :i_paid, "I have paid for a passcode (no)" %>
      <%= form.check_box :i_paid, {}, "true", "false" %>
    </div>
    <%= form.submit "Give me my passcode" %>
  <% end %>
</div>