<div class="heading">
  <h1>New Post</h1>
</div>

<%= turbo_frame_tag "new-post-form", class: "post-form" do %>
  <div class="window-heading">New Post<span data-action="click->form#hideForm">X</span></div>
  <%# ! in order to make anchor links work, turbo had to be disabled for this form. %>
  <%# ! but disabling turbo broke refreshing the form after invalid submissions... %>
  <%= form_with model: Post.new, url: board_topic_posts_url(topic_id: @topic.id) do |form| %>
    <%= form.label :pseudonim %>
    <%= form.text_field :pseudonim, value: "Anonymous", disabled: true %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :text %>
    <%= form.text_area :text, data: { form_target: "formTextField" } %>

    <%= render partial: "shared/format_panel" %>

    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>


    <%# form.label :captcha %>
    <%# form.text_area :captcha %>

    <%= form.submit %>
  <% end %>
<% end %>
