<%= tag.tr id: "user-id-#{user.id}" do %>
  <% user.attributes.each do |key, value| %>
    <% next if user_columns.none?(key) %>
    <%= tag.td value, class: key %>
  <% end %>
  <% if user.moderator_role? %>
    <%= render partial: "supervised_board_form", locals: { user: user } %>
  <% elsif board_column %>
    <%= tag.td %>
  <% end %>

  <td class= "actions">
    <% if user.moderator_role? %>
      <%= button_to "dismiss", admin_user_path(user.id),method: "patch",
                                                        class: "dismiss",
                                                        params: { directive: "dismiss moderator" },
                                                        data: { turbo_stream: true } %>
    <% elsif user.passcode_user_role? %>
      <%= button_to "promote", admin_user_path(user.id), method: "patch",
                                                         class: "promote",
                                                         params: { directive: "promote to moderator" },
                                                         data: { turbo_stream: true } %>
    <% end %>
    <% unless user.admin_role? %>
      <%= button_to "delete user", admin_user_path(user.id), method: "delete", class: "delete", data: { turbo_stream: true } %>
    <% end %>
  </td>
<% end %>
