<div class="heading">
  <h1><%= link_to "User managament", admin_users_path %></h1>
  <h3><%= link_to "Create User", new_admin_user_path, data: {turbo_frame: "new-user-form"} %></h3>
</div>
<%= turbo_frame_tag "new-user-form" %>
<br>
<h2>Users</h2>
<table>
  <tr>
    <% @user_columns.each do |attribute| %>
      <th><%= attribute %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <%= render partial: "user", collection: @users, locals: { user_columns: @user_columns}%>
</table>
