<!DOCTYPE html>
<html>
  <head>
    <title>Blankchan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <%= link_to "this is root", root_path %>
      <% if user_signed_in? %>
        <%= link_to "quit passcode", session_path, data: {turbo_method: :delete} %>
        <%# button_to "quit passcode", session_path, method: :delete %>
      <% else %>
       <%= link_to "validate passcode", new_session_path %>
      <% end %>

      <br>
      <% Board.all.order(:name).each do |board| %>
        <%= link_to board.name, board_path(board.name) %>
      <% end %>
    </header>

    <% if flash.present? %>
      <% flash.each do |flash_type, text| %>
        <%= "<h2 class=\"#{flash_type}\">#{text}</h2>".html_safe %>
      <% end %>
    <% end %>


    <% if @errors %>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>

    <% end %>


    <% if session[:user_id] %>
      <h2><%= "Hey your id (or remember_token) in session is #{session[:user_id]}" %></h2>
    <% end %>
    <% if cookies.encrypted[:remember_token] %>
      <h2><%= "Hey you remember token is #{cookies.encrypted[:remember_token]}" %></h2>
      <h2><%= "Hey your id is #{cookies.encrypted[:user_id]}" %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
